<ul class="layout-menu">
  <li class="layout-menuitem">
    <div class="menuitem-link">
      <i class="menuitem-icon pi pi-user"></i>
      <span>user</span>
    </div>
    <ul class="layout-menu">
      <li class="layout-menuitem">
        <a href="#" class="menuitem-link width-href">
          <i class="menuitem-icon pi pi-check-square"></i>
          <span> dfsg</span>
        </a>
        <!--posible ul-->
      </li>
    </ul>
  </li>

  <li class="layout-menuitem">
    <div class="menuitem-link width-down">
      <i class="menuitem-icon pi pi-user"></i>
      <span>user</span>
      <i class="pi pi-fw pi-angle-down submenu-toggler"></i>
    </div>
    <ul class="layout-menu">
      <li class="layout-menuitem">
        <a href="#" class="menuitem-link width-href">
          <i class="menuitem-icon pi pi-check-square"></i>
          <span> dfsg</span>
        </a>
        <!--posible ul-->
      </li>
    </ul>
  </li>

  <li class="layout-menuitem">
    <a href="#" class="menuitem-link width-href">
      <i class="menuitem-icon pi pi-check-square"></i>
      <span> dfsg</span>
    </a>
    <!--posible ul-->
  </li>

  <li class="layout-menuitem">
    <div class="menuitem-link width-down">
      <i class="menuitem-icon pi pi-check-square"></i>
      <span>HOME</span>
      <i class="pi pi-fw pi-angle-down submenu-toggler"></i>
    </div>
    <ul class="layout-menu">
      <li class="layout-menuitem">
        <a href="#" class="menuitem-link width-href">
          <i class="menuitem-icon pi pi-check-square"></i>
          <span>Home 01</span>
        </a>
        <!--posible ul-->
      </li>

      <li class="layout-menuitem">
        <a href="#" class="menuitem-link width-href">
          <i class="menuitem-icon pi pi-check-square"></i>
          <span>Home 02</span>
        </a>
        <!--posible ul-->
      </li>
    </ul>
  </li>
</ul>
